body, td, caption {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

tt, code, pre {
    font-family: "Inconsolata", "Andale Mono", monospace;
}

pre code {
    font-size: 14px;
}

code {
    font-size: 16px;
}

img {
    max-width: 100% !important;
    display: block;
    margin: auto;
}
